doctype html
html
    include head

    body.text-center(
        ng-app="ControllerListings"
        ng-controller="ControllerListings"
        ng-cloak
    )
        div.spacer-md

        div.bg-red.page-column
            div.spacer-xxs
            div
                h2.text-white
                    i.fa.fa-home
                    span.text-thin.pad-l Foreclosures in Alabama
            div.spacer-xs

        div.spacer-md

        div.page-column.container
            div.row
                div.col-xs-12
                    div Displaying [[tableParams.data.length]] of [[listings.length]] Listings
                    div.spacer-sm
                div.col-xs-12
                    table.table.table-striped.table-bordered.table-hover.bg-white(
                        ng-table="tableParams"
                        show-filter="true"
                    )
                        tr(
                            ng-repeat="listing in $data"
                            ng-click="modal.open(listing.index)"
                        )
                            td(
                                data-title="'ID'"
                                sortable="'case_id'"
                                filter="{ 'case_id': 'text' }"
                                placeholder="fooo"
                            ) [[ listing.case_id ]]
                            td(
                                data-title="'Pub. Date'"
                                sortable="'pub_date'"
                                filter="{ 'pub_date': 'date' }"
                            ) [[ listing.pub_date ]]
                            td(
                                data-title="'Sale Date'"
                                sortable="'sale_date'"
                                filter="{ 'sale_date': 'date' }"
                            ) [[ listing.sale_date ]]
                            td(
                                data-title="'County'"
                                sortable="'county'"
                                filter="{ 'county': 'county' }"
                            ) [[ listing.county ]]
                            td(
                                data-title="'City'"
                                sortable="'city'"
                                filter="{ 'city': 'text' }"
                            ) [[ listing.city ]]
                            td(
                                data-title="'Address'"
                                sortable="'street_addr'"
                                filter="{ 'street_addr': 'text' }"
                            ) [[ listing.street_addr ]]
                            td(
                                data-title="'Zip'"
                                sortable="'zip'"
                                filter="{ 'zip': 'text' }"
                            ) [[ listing.zip ]]

        script(type="text/ng-template" id="ng-table/filters/county.html")
            input.input-filter.form-control(
                type="text"
                name="[[ name ]]"
                placeholder="ex. Madison"
                ng-model="params.filter()[name]"
            )

        script(type="text/ng-template" id="ng-table/filters/date.html")
            input.input-filter.form-control(
                type="text"
                name="[[ name ]]"
                placeholder="yyyy/mm/dd"
                ng-model="params.filter()[name]"
            )

        include detail-modal/index