doctype html
html
    head
        meta(http-equiv='content-type', content='text/html; charset=utf-8')

        link(rel="stylesheet" type="text/css" href="/resources/css/reset.css")
        link(rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="/ng-table/dist/ng-table.min.css")
        link(rel="stylesheet" type="text/css" href="/resources/css/index.css")
        link(rel="stylesheet" type="text/css" href="/resources/css/spacer.css")
        link(rel="stylesheet" type="text/css" href="/resources/css/modal.css")
        link(rel="stylesheet" type="text/css" href="/resources/css/form.css")
        link(rel="stylesheet" type="text/css" href="/resources/css/pad.css")

        block head

    body.text-center
        div.spacer-md

        div.page-column.text-white.bg-red
            div.spacer-xs
            div.container.clearfix
                div.pull-left
                    div.spacer-xxs
                    h2
                        a.text-thin.pad-l(href="/") Mortgage Foreclosure Sales in Alabama

                if region
                    div.pull-right
                        - var selectedClass = 'bg-white text-red';
                        - var currentClass =  page === 'current' ? selectedClass : '';
                        - var nextWeekClass = page === 'next-week' ? selectedClass : '';
                        - var allClass =      page === 'all' ? selectedClass : '';
                        h4.text-thin.pad(class=currentClass)
                            a(href="/#{region}") Current
                        h4.text-thin.pad(class=nextWeekClass)
                            a(href="/#{region}/next-week") Next Week
                        h4.text-thin.pad(class=allClass)
                            a(href="/#{region}/all") All

                        h4= foo
                        div.spacer-xs

            if !region
                div.spacer-xs

        div.spacer-md

        div.page-column.container
            block content