extends ../layout
include mixins/editableTData
include mixins/editableTHead

block head
    script(type='text/javascript').
        window.listings = !{ foreclosures };
        window.timeframes = !{ timeframes };
        window.regions = !{ regions };

block content
    div.container(
        ng-controller="Controller:Listings"
        ng-cloak
    )
        div.row(
            ng-if="isLoading.google"
        )
            div.spacer-xxl
            button.bg-red.text-white.pad-lr.round-md.valign-top
                h4.pad-l
                    div.spacer-xs
                    i.fa.fa-cog.fa-spin
                h2.pad-none
                    div.spacer-xs
                    i.fa.fa-cog.fa-spin
                h5.pad-b.pad-lr
                    div.spacer-xxs
                    i.fa.fa-cog.fa-spin
        div.row(
            ng-if="!isLoading.google"
        )
            div.col-xs-12
                div.spacer-sm
                div.row
                    div.col-xs-4.text-left
                        div.text-left.pad-b
                            button.bg-gray-dark.text-white.pad-none.round-md(
                                ng-click
                                popover-template="'/resources/ng-templates/region-toggle.html'"
                                popover-placement="bottom"
                                popover-trigger="focus"
                                popover-title="Change Region"
                            )
                                h4.valign-mid
                                    div.pad-l.pad-tb.text-thin &nbsp;Region&nbsp;
                                    div.pad.bg-blue.text-thin.valign-mid
                                        span &nbsp;
                                        span.caps [[ regions.current.name ]]
                                        span &nbsp;&nbsp;
                                        i.fa.fa-caret-down
                                        span &nbsp;

                            div.spacer-xs

                            button.bg-gray-dark.text-white.pad-none.round-md(
                                ng-click
                                popover-template="'/resources/ng-templates/view-toggle.html'"
                                popover-placement="bottom"
                                popover-trigger="focus"
                                popover-title="Change Timeframe"
                            )
                                h4
                                    div.pad-l.pad-tb.text-thin &nbsp;Timeframe&nbsp;
                                    div.pad.bg-blue.text-thin.valign-mid
                                        span &nbsp;
                                        span.caps [[ timeframes.current.name ]]
                                        span &nbsp;&nbsp;
                                        i.fa.fa-caret-down
                                        span &nbsp;

                    div.col-xs-4
                        div.text-center
                            button.text-white.pad-none.bg-gray-dark.round-md
                                h4
                                    div.pad-l.pad-tb.text-thin &nbsp;Total Listings&nbsp;
                                    div.pad.bg-gray.text-thin &nbsp;[[listings.length]]&nbsp;

                    div.col-xs-4
                        div.text-right
                            button.text-white.pad-none.bg-gray-dark.round-md
                                h4
                                    div.pad-l.pad-tb.text-thin &nbsp;Filtered Listings&nbsp;
                                    div.pad.bg-gray.text-thin &nbsp;[[tableParams.total()]]&nbsp;
                            div.spacer-xs

                            button.text-white.pad-none.bg-gray-dark.round-md
                                h4
                                    div.pad-l.pad-tb.text-thin &nbsp;Displayed Listings&nbsp;
                                    div.pad.bg-gray.text-thin &nbsp;[[tableParams.data.length]]&nbsp;

            include detail-modal/index
            script(type="text/ng-template" id="ng-table/filters/county.html")
                input.input-filter.form-control(
                    type="text"
                    name="[[ name ]]"
                    placeholder="ex. Madison"
                    ng-model="params.filter()[name]"
                )

            script(type="text/ng-template" id="ng-table/filters/date.html")
                input.input-filter.form-control(
                    type="text"
                    name="[[ name ]]"
                    placeholder="m/d/yyyy"
                    ng-model="params.filter()[name]"
                )

            div.col-xs-12
                div
                    //- if counties
                    //-     div
                    //-         span &nbsp;in&nbsp;
                    //-         span
                    //-             each county, i in counties
                    //-                 if i === counties.length - 1
                    //-                     span and&nbsp;
                    //-                 span.caps #{county}
                    //-                 if i !== counties.length - 1
                    //-                     span ,&nbsp;
                    //-             span &nbsp;Counties
                div.spacer-sm
            div.col-xs-12
                table.table.table-striped.table-bordered.table-hover.bg-white(
                    ng-table="tableParams"
                    show-filter="true"
                )
                    tr(
                        ng-repeat="listing in $data"
                        ng-click="modal.open(listing.index)"
                    )
                        td(
                            data-title="'Sale Date'"
                            sortable="'sale_date_sort'"
                            filter="{ 'sale_date': 'date' }"
                        ) [[ listing.sale_date ]]
                        td(
                            data-title="'Address'"
                            sortable="'street_addr'"
                            filter="{ 'street_addr': 'text' }"
                        ) [[ listing.street_addr ]]
                        td(
                            data-title="'Name 1'"
                            sortable="'name1'"
                            filter="{ 'name1': 'text' }"
                        ) [[ listing.name1 ]]
                        td(
                            data-title="'Mortgage $'"
                            sortable="'buy_price'"
                            filter="{ 'buy_price': 'text' }"
                        ) [[ listing.buy_price ]]
                        td(
                            data-title="'Appraisal $'"
                            sortable="'appraisal_price'"
                            filter="{ 'appraisal_price': 'text' }"
                        ) [[ listing.appraisal_price ]]
                        td(
                            data-title="'County'"
                            sortable="'county'"
                            filter="{ 'county': 'county' }"
                        ) [[ listing.county ]]
                        td(
                            data-title="'City'"
                            sortable="'city'"
                            filter="{ 'city': 'text' }"
                        ) [[ listing.city ]]
                        td(
                            data-title="'Attorney'"
                            sortable="'attorney'"
                            filter="{ 'attorney': 'text' }"
                        ) [[ listing.attorney ]]