extends ../layout
include mixins/editableTData
include mixins/editableTHead

block head
    script(type='text/javascript').
        window.listings = !{ listings ? JSON.stringify(listings) : JSON.stringify({}) };
        window.timeframes = !{ timeframes ? JSON.stringify(timeframes) : JSON.stringify({}) };
        window.regions = !{ regions ? JSON.stringify(regions) : JSON.stringify({}) };

block content
    div.container(
        ng-controller="Controller:Listings"
        ng-cloak
    )
        div.row(
            ng-if="isLoading.google"
        )
            div.spacer-xxl
            button.bg-red.text-white.pad-lr.round-md.valign-top
                h4.pad-l
                    div.spacer-xs
                    i.fa.fa-cog.fa-spin
                h2.pad-none
                    div.spacer-xs
                    i.fa.fa-cog.fa-spin
                h5.pad-b.pad-lr
                    div.spacer-xxs
                    i.fa.fa-cog.fa-spin
        div.row(
            ng-if="!isLoading.google"
        )
            include detail-modal/index
            script(type="text/ng-template" id="ng-table/filters/name.html")
                input.input-filter.form-control(
                    type="text"
                    ng-name="[[name]]"
                    placeholder="ex. Jordan"
                    ng-model="params.filter()[name]"
                )

            script(type="text/ng-template" id="ng-table/filters/money.html")
                input.input-filter.form-control(
                    type="text"
                    ng-name="[[name]]"
                    placeholder="$"
                    ng-model="params.filter()[name]"
                )

            script(type="text/ng-template" id="ng-table/filters/date.html")
                input.input-filter.form-control(
                    type="text"
                    ng-name="[[name]]"
                    placeholder="M/D/YYYY"
                    ng-model="params.filter()[name]"
                )

            div.col-xs-12.text-left
                div.spacer-md
                div.valign-mid
                    button.btn-group.btn-group-lg.pad-none.round-md-top(
                        ng-click
                        popover-template="'/resources/ng-templates/region-toggle.html'"
                        popover-placement="bottom"
                        popover-trigger="focus"
                        popover-title="Change Region"
                    )
                        div.btn.bg-gray-dark
                            div.text-white.text-thin
                                span &nbsp;Region&nbsp;&nbsp;&nbsp;
                                h3.pad-none.fa-wrapper
                                    i.fa.fa-map-marker
                                span &nbsp;

                        div.btn.bg-blue
                            div.text-white
                                span.text-thin.caps &nbsp;#{region.name}&nbsp;&nbsp;
                                i.fa.fa-caret-down
                                span &nbsp;

                        div.btn.bg-gray
                            div.text-white.text-thin &nbsp;#{listings.length} listings&nbsp;

                    button.btn-group.btn-group-lg.pad-none.round-md-top.pull-right(
                        ng-click
                        popover-template="'/resources/ng-templates/view-toggle.html'"
                        popover-placement="bottom"
                        popover-trigger="focus"
                        popover-title="Change Timeframe"
                    )
                        div.btn.bg-gray-dark
                            div.text-thin.text-white
                                span &nbsp;Timeframe&nbsp;&nbsp;&nbsp;
                                h3.pad-none.fa-wrapper
                                    i.fa.fa-clock-o
                                span &nbsp;

                        div.btn.bg-blue
                            span &nbsp;
                            span.text-thin.text-white.caps #{timeframe.name}
                            span &nbsp;&nbsp;
                            i.fa.fa-caret-down.text-white
                            span &nbsp;

            div.col-xs-12
                table.table.table-striped.table-bordered.table-hover.bg-white(
                    ng-table="tableParams"
                    show-filter="true"
                )
                    tr(
                        ng-repeat="listing in $data"
                        ng-click="modal.open(listing.index)"
                    )
                        td(
                            data-title="'Sale Date'"
                            sortable="'sale_date_sort'"
                            filter="{ 'sale_date': 'date' }"
                        ) [[ listing.sale_date ]]
                        td(
                            data-title="'Address'"
                            sortable="'street_addr'"
                            filter="{ 'street_addr': 'text' }"
                        ) [[ listing.street_addr ]]
                        td(
                            data-title="'City'"
                            sortable="'city'"
                            filter="{ 'city': 'text' }"
                        ) [[ listing.city ]]
                        td(
                            data-title="'County'"
                            sortable="'county'"
                            filter="{ 'county': 'text' }"
                        ) [[ listing.county ]]
                        td(
                            data-title="'Primary Mortgagee'"
                            sortable="'name1'"
                            filter="{ 'name1': 'name' }"
                        ) [[ listing.name1 ]]
                        td(
                            data-title="'Mortgage Value'"
                            sortable="'buy_price'"
                            filter="{ 'buy_price': 'money' }"
                        ) [[ listing.buy_price ]]
                        td(
                            data-title="'Appraisal Value'"
                            sortable="'appraisal_price'"
                            filter="{ 'appraisal_price': 'money' }"
                        ) [[ listing.appraisal_price ]]
                        td(
                            data-title="'Foreclosure Attorney'"
                            sortable="'attorney'"
                            filter="{ 'attorney': 'text' }"
                        ) [[ listing.attorney ]]