div.pad-lr(
    ng-click="modal.abortEdit()"
)
    h4.text-white.pad(
        ng-class="{\
            'bg-blue': !modal.data.editForm.all.isUnchanged(),\
            'bg-gray': modal.data.editForm.all.isUnchanged()\
        }"
    )
        div.pad-l.text-thin Clear
        div.pad-lr
            div.fa-stack
                i.fa.fa-stack-2x.fa-circle
                i.fa.fa-stack-1x.fa-undo.text-blue
div.pad-lr(
    ng-if="modal.saveSucceeded == true && modal.data.editForm.all.isUnchanged()"
)
    h4.bg-orange.text-white.pad
        div.pad-l.text-thin Save Was Successful
        div.pad-lr
            div.fa-stack
                i.fa.fa-stack-2x.fa-circle
                i.fa.fa-stack-1x.fa-check.text-orange

div.pad-lr(
    ng-if="modal.saveSucceeded == false"
)
    h4.text-thin.bg-red.text-white.pad
        div.pad-l.text-thin Save Did Not Succeed
        div.pad-lr
            div.fa-stack
                i.fa.fa-stack-2x.fa-circle
                i.fa.fa-stack-1x.fa-exclamation.text-red

div.pad-lr(
    ng-click="modal.save()"
)
    h4.text-thin.text-white.pad(
        ng-class="{\
            'bg-green': modal.data.editForm.all.errors.length == 0 && !modal.data.editForm.all.isUnchanged(),\
            'bg-gray': !(modal.data.editForm.all.errors.length == 0 && !modal.data.editForm.all.isUnchanged())\
        }"
    )
        div.pad-l.text-thin Save
        div.pad-lr
            div.fa-stack
                i.fa.fa-stack-2x.fa-circle
                i.fa.fa-stack-1x.fa-save.text-green