include editableTD

div.page-column.modal-wrapper(
    ng-if="modal.isOpen == true"
)
    div.modal-bg(
      ng-click="modal.close()"
    )

    div.modal.container
        div.row
            div.col-xs-6.text-left
                div.spacer-sm
                h3 &nbsp;Case \#[[ modal.data.model.case_id ]]
                div.spacer-md
            div.col-xs-6
                h2.pad-lr.pull-right.text-gray.text-gray-dark-hover(
                    ng-click="modal.close()"
                )
                    i.fa.fa-times

            div.col-xs-12
                form
                    include table-1
                    include table-2
                    include table-3
                    include table-4

                    div.spacer-md
                    h3.text-left &nbsp;Notes
                    div.spacer-xxs
                    div.spacer-1.bg-gray
                    div.spacer-xs

                    textarea.pad.width-full(
                        ng-model="modal.data.editForm.notes.value"
                        placeholder="Type something here"
                    )

                div.spacer-lg

            div.col-xs-12(
                ng-if="modal.data.editForm.all.errors.length > 0"
            )
                span.text-red.lead Errors
                div.spacer-1.bg-red
                div(
                    ng-repeat="error in modal.data.editForm.all.errors"
                )
                    div.spacer-xs
                    div
                        div.pad-lr
                            div.fa-stack
                                i.fa.fa-circle.fa-stack-2x.text-red
                                i.fa.text-white.fa-stack-1x [[ $index + 1 ]]
                        div.pad-lr
                            div.spacer-xs
                            div [[ error ]]
                div.spacer-lg

            div.col-xs-12
                div
                    include action-buttons

            div.col-xs-12
                div.spacer-md
                h3.text-left &nbsp;Body
                div.spacer-xxs
                div.spacer-1.bg-gray
                div.spacer-xs
                div(ng-bind-html=":: modal.data.body")
                div.spacer-xs
                div.spacer-1.bg-gray
                div.spacer-lg

            div.col-xs-12
                h3.text-left &nbsp;Meta
                div.spacer-sm
                table.table.table-bordered
                    thead
                        tr
                            td Pub. Date
                            td Date Scraped
                            td Source
                    tbody
                        tr
                            td [[ modal.data.model.pub_date ]]
                            td [[ modal.data.model.timestamp ]]
                            td [[ modal.data.model.source ]]