table.table.table-bordered
    thead
        tr
            td
                label.editable(for="bed")
                    span Bed
                    i.fa.fa-pencil

            td
                label.editable(for="bath")
                    span Bath
                    i.fa.fa-pencil

            td
                label.editable(for="lot_area")
                    span Lot Area (acres)
                    i.fa.fa-pencil

            td
                label.editable(for="indoor_area")
                    span Indoor Area (sqft)
                    i.fa.fa-pencil

    tbody
        tr
            td
                input#bed.invis.input-small(
                    type="text"
                    ng-model="modal.data.editForm.bed.value"
                    ng-change="modal.data.editForm.all.validate()"
                )
            td
                input#bath.invis.input-small(
                    type="text"
                    ng-model="modal.data.editForm.bath.value"
                    ng-change="modal.data.editForm.all.validate()"
                )
            td
                input#lot_area.invis.input-small(
                    type="text"
                    ng-model="modal.data.editForm.lot_area.value"
                    ng-change="modal.data.editForm.all.validate()"
                )
            td
                input#indoor_area.invis.input-small(
                    type="text"
                    ng-model="modal.data.editForm.indoor_area.value"
                    ng-change="modal.data.editForm.all.validate()"
                )